<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="~{headers :: headers}"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="trumbowyg/dist/trumbowyg.min.js"></script>
  <link rel="stylesheet" href="trumbowyg/dist/ui/trumbowyg.min.css">
</head>
<body>
<div th:replace="~{fragments :: navigation}">Navigation bar</div>
<main class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <form method="post" th:action="@{/saveArticle}" th:object="${article}">
        <label>
          Title
          <input type="text" th:field="${article.title}">
        </label>
        <label>
          Article content
          <textarea id="article" th:field="${article.text}"></textarea>
        </label>
        <input type="submit" value="save">
      </form>
    </div>
    <div class="col-md-4 col-sm-12">
        <div th:replace="~{fragments :: tagsCard}"></div>
    </div>
  </div>
</main>

<script>
    $('#article').trumbowyg();
</script>
</body>
</html>