<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{headers :: headers}"></div>

</head>
<body>
    <div th:replace="~{fragments :: navigation}">Navigation bar</div>
    <main class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-sx-12">
                <hgroup>
                    <h2 th:text="${article.title}">Title</h2>
                    <h6>
                        <span th:text="${user.firstName}">Authors first name</span>
                        <span th:text="${user.lastName}">Authors last name</span>
                    </h6>
                    <p th:text="${article.placedAt}"></p>
                </hgroup>
                <hr>
                <p th:utext="${article.text}">Article content</p>
            </div>
            <div class="col-md-4 col-sm-12 col-sx-12">
                <div th:replace="~{fragments :: tagsCard}"></div>
            </div>
        </div>
    </main>

</body>
</html>