<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{headers :: headers}"></div>
</head>
<body>
    <div th:replace="~{fragments :: navigation}">Navigation bar</div>
    <main class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <article th:each="article : ${articles}">
                    <header>
                        <h3>
                            <a th:text="${article.title}"
                               th:href="@{/readArticle/{id}(id=${article.id})}"
                               class="contrast">
                                Title
                            </a>
                        </h3>
                    </header>

                    <footer class="grid">
                        <a role="button" th:href="@{/readArticle/{id}(id=${article.id})}"
                           class="outline">
                            Continue reading
                        </a>
                        <a role="button" th:href="@{/editArticle/{id}(id=${article.id})}"
                           class="outline">
                            Edit
                        </a>
                        <a id="deleteButton"
                           role="button"
                           class="secondary outline"
                           th:data-target="${article.id}"
                           onclick="toggleModal(event)">
                            Delete
                        </a>

                        <!--        confirmation modal -->
                        <dialog th:id="${article.id}">
                            <article>
                                <header>
                                    <button
                                            aria-label="Close"
                                            rel="prev"
                                            th:data-target="${article.id}"
                                            onclick="toggleModal(event)"></button>
                                    <p>
                                        <strong id="modalTitle">Warning!</strong>
                                    </p>
                                </header>
                                <p>
                                    Are you sure you want to delete
                                    <strong th:text="${article.title}" id="articleTitle">
                                        Article title
                                    </strong>
                                </p>
                                <footer>
                                    <button role="button"
                                            class="secondary"
                                            th:data-target="${article.id}"
                                            onclick="toggleModal(event)">No</button>
                                    <a
                                            role="button"
                                            id="confirmButton"
                                            autofocus
                                            th:href="@{deleteArticle/{id}(id=${article.id})}"
                                    >
                                        Yes
                                    </a>
                                </footer>
                            </article>
                        </dialog>

                    </footer>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div th:replace="~{fragments :: tagsCard}"></div>
            </div>
        </div>
    </main>

<script th:src="@{js/modal.js}"></script>
</body>
</html>