<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="navigation" class="container-fluid">
        <nav>
            <ul>
                <li><strong>MyWiki</strong></li>
            </ul>
            <ul>
                <li><a th:href="@{/addArticle}" class="contrast">Add article</a></li>
                <li><a th:href="@{/articleList}" class="contrast">Articles list</a></li>
                <li>
                    <form role="search" method="post" action="#">
                        <input type="search"
                               name="search"
                               placeholder="Search"
                               aria-label="Search"/>
                        <input type="submit" class="outline secondary" value="Search"/>
                    </form>
                </li>
                <li>
                    <form method="post" th:action="@{/logout}">
                        <button class="secondary outline" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <article th:fragment="tagsCard">
        <header>
            <h2>All tags</h2>
        </header>
        <div class="grid">
            <a role="button" th:each="tag : ${tags}" href="#" th:text="${tag.tagName}"></a>
        </div>
    </article>
</body>
</html>